#menuHeader {
    height: 50px;
    padding: 20px 0px 10px 21px;
    background-color: #189DD8;
}

    #menuHeader div.adminIcon {
        float: left;
        position: relative;
        height: 40px;
        line-height: 40px;
        width: 16px;

    }

    #menuHeader div.userName {
        float: left;
        position: relative;
        height: 40px;
        line-height: 40px;
        padding-left: 8px;
        font-size: 14px;
    }

#mainPage img.mainMenuIcon {
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 24px;
}
